#logo{
height:50px;
}

.toApp{
height:50px;
}

#elementi{
text-align:center;
}

#previewcontainer{
text-align:center;
}

.previewrow{
border-bottom:1px solid lightgrey;
}

.removeelement{
width:18px;
height:18px;
float:right;
cursor:pointer;
margin:10px 0px;
}

.rlista{
text-align:center;
border-top:1px solid lightgrey;
border-bottom:1px solid lightgrey;
margin-bottom:20px;
color:white;
}

.risposta{
float:right;
border-radius:50%; 
widht:26px; 
height:26px;
}

.mytab{
text-align:center; 
border:1px solid white; 
border-bottom:1px solid lightgrey; 
line-height:30px;
cursor:pointer;
border-top:1px solid white; 
}

.noborder{

border:1px solid lightgrey; 
border-bottom:1px solid white;
}

.error {
display:none;
text-align:center;
color:red;
margin:10px auto;
}

.form-group{
padding:5px;
border-radius:10px;
background-color:#0d6b00;
border:1px solid black;
box-shadow:0px 0px 5px black;
padding-bottom:10px;
}

.white{
border-radius:0px;
background-color:white;
}



#previewcontainer{
background-color:#0d6b00;
border:1px solid black;
box-shadow:0px 0px 5px black;
}

.previewelement{
color:white;
}

.control-label{
text-align:left;
color:white;
background-color:none;
}

body{
background:url('./gamebackground-02.png');
background-size:cover;
}

#myc{
background-color:#0d6b00;
border:1px solid black;
box-shadow:0px 0px 5px black;
color:white;
}

.myresult{
background-color:rgba(0,255,255,0.5);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}