#contenitore{
width:350px;
display:block;
margin:0px auto;
}

body{
margin:0px;
background-color:black;
}

#intro{
display:inline-block;
width:100%;
}

#gioco{
display:inline-block;
width:100%;
}

#starfield{
width:100%;
display:block;
background-color:black;
height:150px;
cursor:pointer;
background-position-x:-25px;
}

#town{
display:block;
width:100%;
height:150px;
background-image:url('Town.png');
}

#dark_town{
display:block;
width:100%;
height:150px;
background-image:url('DarkTown.png');
}

#city{
display:block;
width:100%;
height:150px;
background-image:url('Town.png');

}

#city_fine{
display:block;
width:100%;
height:150px;
background-image:url('Town.png');
color:lightgreen;
font-size:40px;
padding-top:20px;
text-align:center;
font-family:Verdana;
}

#lightpanel{
height:70px;
width:100%;
text-align:center;
background-image:url('Panel.png');
}

#bottone{
width:50px;
height:70px;
background-image:url('Lampada.png');
float:left;
cursor:pointer;
}

#barra{
width:300px;
height:70px;
float:left;
}

#luce{
width:300px;
height:70px;
background-color:rgba(255,255,0,0.4);
float:right;
color:black;
text-align:left;
}

#punti_temp{
font-size:25px;
margin-top:20px;
font-family:Verdana;
}

#punti{
width:350px;
height:20px;
font-family:Verdana;
font-size:16px;
margin-top:4px;
color:yellow;
text-align:center;
}

#suggerimento{
height:20px;
background-color:black;
width:100%;
text-align:center;
color:white;
font-family:Verdana;
font-size:12px;
}

#titolo{
display:block;
width:100%;
height:150px;
background-image:url('Titolo350.png');
}

#fine_titolo{
display:block;
width:100%;
height:150px;
background-image:url('Fine.png');
}

#letter_container{
text-align:center;
color:white;
font-family:Open Sans;
}

#risposte_container{
text-align:center;
color:white;
font-family:Open Sans;
}

.risposta{
display:inline-block;
height:31px;
width:31px;
background-color:white;
border-radius:5px;
color:white;
font-weight:600;
text-align:center;
font-size:24px;
cursor:pointer;
margin-right:7px;
margin-top:7px;
cursor:pointer;
background-color:Royalblue;
}


.lettera{
display:inline-block;
height:40px;
width:40px;
background-color:white;
border-radius:5px;
color:white;
font-weight:600;
text-align:center;
font-size:28px;
cursor:pointer;
margin-right:7px;
margin-top:7px;
cursor:pointer;
}

.clearer{
width:100%;
clear:both;
}


#button_container{
text-align:center;
}

#seleziona_tutte{
width:150px;
margin-top:10px;
margin-left:5px;
border-radius:10px;
text-align:center;
border:1px solid black;
background-color:lightgreen;
color:black;
display:inline-block;
font-size:14px;
font-family:Open Sans;
cursor:pointer;
padding:5px 0px 5px 0px;
font-weight:600;
}

#cancella_tutte{
width:150px;
margin-top:10px;
border-radius:10px;
text-align:center;
border:1px solid black;
background-color:lightpink;
color:black;
display:inline-block;
font-size:14px;
font-family:Open Sans;
cursor:pointer;
padding:5px 0px 5px 0px;
font-weight:600;
}

#gioca_container{
text-align:center;
color:white;
font-family:Open Sans;
background-color:black;
padding:10px;
}

#gioca{
cursor:pointer;
color:white;
background-color:royalblue;
border-radius:10px;
text-shadow:1px 1px 1px black;
font-weight:600;
padding:10px 5px 10px 5px;
width:120px;
text-align:center;
margin:110px auto 0px auto;
}

#rigioca{
cursor:pointer;
color:white;
background-color:royalblue;
border-radius:10px;
text-shadow:1px 1px 1px black;
font-weight:600;
padding:10px 5px 10px 5px;
width:120px;
text-align:center;
margin:50px auto 0px auto;
}

#altri{
cursor:pointer;
color:white;
background-color:royalblue;
border-radius:10px;
text-shadow:1px 1px 1px black;
font-weight:600;
padding:10px 5px 10px 5px;
width:120px;
text-align:center;
margin:20px auto 0px auto;
}

#feedback{
margin-top:10px;
text-align:center;
font-family:Verdana;
font-size:24px;
}

#credits{
padding-top:10px;
width:100%;
height:20px;
background-color:black;
text-align:center;
color:lightgrey;
font-family:Verdana;
font-size:12px;
margin:0px auto;
}

#facebook{
padding:10px;
margin-top:10px;
background-color:navy;
text-shadow:1px 1px 1px black;
color:white;
font-size:16px;
font-family:Verdana;
margin:0px auto;
display:block;
clear:both;
cursor:pointer;
max-width:90%;
}