#container{
margin:0px auto;
text-align:center;
}

#wrapper{
width:100%;
display:inline-block;
text-align:center;
}



.half{
width:300px;
display:inline-block;
}




body{
background-image:url('gamebackground-10.png');
background-size:cover;
color:white;
background-color:black;
}

img{
padding:10px;
background-color:white;
border-radius:10px;
}

#punti{
background-color:navy;
color:white;
padding:10px;
border-radius:5px;
}

#myprogress{
margin:15px 0px;
}

#realpunti{
color:black;
background-color:white;
}

#inizia:hover{
background-color:navy;
}

#istruzioni{
background-image:url('Spiegazione.png');
display:none;
}

#topcento{
width:400px;
height:70px;
background-image:url('top100.png');
margin:10px auto;
display:block;
}

.lettera{
display:inline-block;
margin:0px auto;
font-size:1.5em;
cursor:pointer;
border-radius:100%;
}
