canvas{
	margin:0px auto;
}

body{
	background-color:black;
}

.header{
	background-color:#404040;
}

a{
	color:white;
}

a:hover{
	color:yellow;
}

a:active{
	color:yellow;
}

a:visited{
	color:yellow;
}
