#back{
display:none;
color:black;
padding:5px;
background-color:white;
font-size:1em;
font-family:Open Sans Light;
text-align:center;
cursor:pointer;
margin:0px auto;
max-width:150px;
}

#back:hover{
background-color:lightblue;
}

#gioco{
opacity:0;
display:block;
margin-top:20px;
min-height:250px;
padding-bottom:20px;
text-align:center;
}

#ok{
cursor:pointer;
margin:70px auto;
max-width:150px;
min-height:30px;
background-color:green;
color:white;
text-align:center;
padding:5px;
font-family:Open Sans;
font-size:1.4em;
border:1px solid white;
}

#ok:hover{
background-color:darkgreen;
}

#item{
padding-top:30px;
padding-bottom:30px;
width:100%;
display:none;
text-align:center;
border-radius:10px;
border-top:1px solid white;
border-bottom:1px solid white;
min-height:40px;
}


#next{
cursor:pointer;
background-color:white;
color:black;
padding:10px;
width:200px;
height:20px;
font-size:1em;
font-family:Open Sans;
display:none;
}

#next:hover{
background-color:lightblue;
}

#next_level{
cursor:pointer;
background-color:white;
color:black;
padding:10px;
width:250px;
height:20px;
font-size:1em;
font-family:Open Sans;
display:none;
}

#next_level:hover{
background-color:lightblue;
}

#restart_level:hover{
background-color:lightblue;
}

#restart_level{
cursor:pointer;
background-color:white;
color:black;
padding:10px;
width:250px;
height:20px;
font-size:1em;
font-family:Open Sans;
display:none;
}

#exit{
cursor:pointer;
background-color:white;
color:black;
padding:10px;
width:250px;
height:20px;
font-size:1em;
font-family:Open Sans;
display:none;
margin-top:20px;
}

#exit:hover{
background-color:lightblue;
}

#punti{
text-align:center;
color:yellow;
font-size:1 em;
font-family:Open Sans;
margin-bottom:15px;
}

#game_info{
width:100%;
height:150px;
padding-top:20px;
display:none;
}

.es_num{
width:16px;
height:16px;
background-image:url('/app/img/todo.png');
margin:1px;
display:inline-block;
}

#esercizio_numero{
text-align:center;
margin-bottom:20px;
}

#livello_numero{
text-align:center;
}

.lev_num{
width:30%;
height:15px;
background-color:lightgrey;
margin:1px;
display:inline-block;
}

#final_score{
font-family: Open Sans;
color: yellow;
font-size:1.5em;
text-align:center;
display:none;
}
