.colonna-2{
display:block;
float:left;
width:48%;
min-height:200px;
}

.colonna-1{
display:inline-block;
width:100%;
height:30px;
margin-top:20px;
}

#sinistra{
color:white;
font-family:Roboto;
border-right:1px solid white;
}



#destra{
color:white;
font-family:Roboto;
}



#sposta_sinistra{
display:inline-block;
cursor:pointer;
font-size:20px;
font-family:Open Sans;
text-align: center;
color:white;
background-color: #4F374B;
border-radius:5px;
width:30px;
height:30px;
border:1px solid white;
}

#sposta_destra{
display:inline-block;
cursor:pointer;
font-size:20px;
font-family:Open Sans;
text-align: center;
color:white;
background-color: #4e342e;
border-radius:5px;
width:30px;
height:30px;
border:1px solid white;
}

#game_container{
min-height:200px;
display:none;
}

#parola{
font-size:20px;
font-family:Open Sans;
text-align: center;
display:inline-block;
background-color:blue;
border:1px solid white;
border-radius:5px;
margin-left:20px;
margin-right:20px;
color:white;
padding-left:10px;
padding-right:10px;
height:30px;
min-width:150px;
}

#text_feedback{
color:white;
font-family: Open Sans;
font-size:30px;
margin-top:30px;
margin-bottom:30px;
text-align:center;
}