#contenitore{
display:inline-block;
width:700px;
padding: 10px 0px 0px 0px;
background-image:url('legno.jpg');
border: 1px solid black;
box-shadow:4px 4px 6px grey;

}

body{
margin:0px;
}

input:focus{
    outline: 0;
	}
	
#wrapper{
display:block;
margin:0px auto;
width:700px;
}





.numero{
display:inline-block;
text-align:center;
font-size:26px;
line-height:48px;
width:56px;
height:48px;
background-color:darkgrey;
border-radius:50%;
color:white;
margin-right:5px;
margin-top:10px;
border:1px solid black;
box-shadow:2px 2px 2px grey;
cursor:pointer;
}

#operazione{
width:100%;
height:90px;
text-align:center;
}

#primo{
font-size:60px;

width:150px;
height:80px;
line-height:80px;
text-align:center;
font-family:Verdana;
border-top-left-radius:40px;
}

#secondo{
font-size:60px;
line-height:80px;

width:150px;
height:80px;
text-align:center;
font-family:Verdana;
border-bottom-right-radius:40px;
}

#segno{
width:100%;
font-size:60px;
line-height:80px;
padding:0px 10px;
text-align:center;
font-family:Verdana;
}

#uguale{
font-size:60px;
line-height:80px;
display:inline-block;
width:60px;
height:80px;
text-align:center;
font-family:Verdana;
}

#risultato{
font-size:60px;
padding:0px 10px;
display:inline-block;
width:120px;
height:80px;
line-height:80px;
text-align:center;
font-family:Verdana;
cursor:pointer;

background-color:rgba(255, 255, 255, 0.8);
border:2px solid black;
}

#board{
display:inline-block;
width:100%;
padding:10px;
}

#status{
color:white;
font-size:18px;
text-align:center;
font-family:Verdana;
padding-top:10px;
padding-bottom:10px;
background-color:rgba(0,0,0,0.7);
cursor:pointer;
}

#trascrizione{
width:100%;
height:20px;
margin-bottom:20px;
text-align:center;
}

#primo_parola{
font-size:20px;
display:inline-block;
text-align:center;
font-family:Verdana;
}

#segno_parola{
font-size:20px;

display:inline-block;
text-align:center;
font-family:Verdana;
}

#secondo_parola{
font-size:20px;

display:inline-block;
text-align:center;
font-family:Verdana;
}

#uguale_parola{
font-size:20px;
float:left;
display:inline-block;
text-align:center;
font-family:Verdana;

}

#risultato_parola{
font-size:20px;

display:inline-block;
text-align:center;
font-family:Verdana;
}

#header{
width:700px;
height:100px;
background-image:url('header.png');
}